
.markdown h2 {
  padding: 24px 0 12px;
}

.markdown p {
  line-height: 2;
  font-weight: 400;
}

.markdown ol,
.markdown ul {
  margin-bottom: 12px;
}

.markdown li {
  font-size: 16px;
  line-height: 2;
  font-family: sans-serif;
}

.image-items {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}